
@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Welcome</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Welcome</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12"> <img style="width : 1200px; height: 500px;" src="https://media.istockphoto.com/id/1283536918/vi/vec-to/ch%C3%A0o-m%E1%BB%ABng-kh%C3%A1i-ni%E1%BB%87m-ph%E1%BA%B3ng-vector-k%E1%BA%BB-th%C3%B9-trang-web-nh%E1%BB%AFng-ng%C6%B0%E1%BB%9Di-nh%E1%BB%8F-b%C3%A9-h%E1%BA%A1nh-ph%C3%BAc-%C4%91ang-%E1%BB%9F-g%E1%BA%A7n.jpg?s=612x612&w=0&k=20&c=oHphbJe9UWlI4O3Up-HzJ8Mc6Yy6Bg8bYu1BqlUk59E=" /></div>
        </div>
    </div>
</div>
